/*stiilid on ainult piletite välimuse ja ka input*/


/*pileti stiilid*/
.Piletid {
    margin: 0;
    padding: 0;
}

.PiletDiv {
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #333333;
}

.PiletHeader {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.PiletKirjeldus {
    text-align: center;
    margin-bottom: 30px;
}

.PiletKirjeldus p {
    font-size: 18px;
}

.PiletInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.PiletInfo span {
    font-size: 16px;
}

.PiletLisaNupp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff6600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}




/*ostukorvi stiilid*/

.ostukorv h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ostukorv select {
    padding: 10px;
    margin-bottom: 10px;
}



/* ulejaanud stiilid */

.ostukorv input[type="submit"] {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    margin-right: 10px;
}

.ostukorv input[type="submit"]:hover {
    background-color: #ff6a00;
}
.makse{
    font-size: 20px;
}
#vastus{
    text-align: center;
    font-size: 25px;
}



.makseViisid label {
    display: block;
    margin-bottom: 5px;
}

.makseViisid input[type="text"],
.makseViisid input[type="submit"] {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.makseViisid input[type="submit"] {
    width: 100%;

}


#kardiNimi,#kardiNumber{
    width: 97.5%;
}
#kehtivus{
    width: 90%;
}
#cvv{
    width: 95%;
}