/*autoriseerimis formite stiilid*/
.logiSisse {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.logiSisse h1 {
    text-align: center;
    margin-bottom: 20px;
}


.logiSisse input[type="text"],
.logiSisse input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.logiSisse input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logiSisse input[type="submit"]:hover {
    background-color: #ff6a00;
}


.logiSisse span {
    display: block;
    text-align: center;
}

.registr {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.registr h1 {
    text-align: center;
    margin-bottom: 20px;
}

.registr input[type="text"],
.registr input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registr input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registr input[type="submit"]:hover {
    background-color: #ff6a00;
}

.registr span {
    display: block;
    text-align: center;
}



#vastusNimi,
#vastusParool {
    color: red;
}

/*mitteaktiivse nupu välimuse stiil*/
input[type="submit"]:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
input[type="submit"]:disabled:hover {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}