/*siin on stiilid mis kuuluvad kõik lehed */

body {
    background: linear-gradient(to right, #000000, #333333);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.konteiner {
    /* põhikonteineri stiilid  */
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
}

header h1 {
    font-size: 48px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 50px 0;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    text-align: center;
}

input[type="submit"] {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #ff6a00;
}

input[type="number"],input[type="text"], input[type="password"]{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="number"],input[type="text"], input[type="password"]:hover,
input[type="number"],input[type="text"], input[type="password"]:focus {
    border-color: #ff4500;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555;
}

th {
    background-color: #555;
}
a {
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    text-decoration: underline;

}

/*mitteaktiivse nupu välimuse stiil*/

input[type="submit"]:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
input[type="submit"]:disabled:hover {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}